.container {
  display: flex;
  justify-content: center;
  > div {
    width: 80%;
    overflow-y: scroll;
    height: 600px;
  }
}

.topBar {
  padding: 10px;
  justify-content: space-between;
  display: flex;
}
